<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="exporter" name="exporter" schema="schema/exporter.exsd"/>
   <extension
         point="merlin-common.exporter">
      <exporter
            logic="merlin.common.transformation.analysis.OCLHandler">
      </exporter>
   </extension>
</plugin>
